.card{
	padding:1em 0em;
	margin:1em 0em;

	position: relative;

	display: flex;

	&__info{
		display: flex;
	}

	&__info:hover > &__categories{
		display: block;
	}

	&__categories{
		position: absolute;
		left:15px;

		top:50%;
		transform: translateY(-50%);

		display: none;
	}

	&__content{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items:center;

		flex-grow: 1;
	}

	&--shadow{
		background-color:#bbb;
	}

	&--hidden{
		display:none;
	}

	&__category{
		align-self: stretch;
		width:7px;

		height:40px;

		background-color:#eee;
		border-radius: 5px;

		margin-right:10px;

		&--low{
			background-color: #FFB300;
		}

		&--medium{
			background-color: #F4511E;
		}

		&--high{
			background-color: #b71c1c;
		}
	}

}