*{
	padding:0;
	margin:0;

	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}

body{
	font-size:62.5%;
	font-family: "Ubuntu", sans-serif;

	background-color: #30e8bd;
}

p{
	font-size:1rem;
	word-break: break-all;
}

.hidden{
	display:none;
}